<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>学生信息管理系统 - 查看学生信息</title>
</head>
<body>
  <div>姓名：<%= student.name %></div>
  <div>性别：<%= student.gender %></div>
  <div>年龄：<%= student.age %></div>
  <div>联系电话：<%= student.phone %></div>
  <div>学号：<%= student.stu_number %></div>
  <div>籍贯：<%= student.province + student.city %></div>
  <div>专业：<%= student.major %></div>
</body>
</html>
